// Placeholder to allow overriding predefined variables smoothly.
// I added this file, but it doesn't do anything. 

a {
  color: #0085A1;
}

a { color: #0085A1; }

a:focus, a:hover { color: #0085A1; }
